@model List<ParentListVM>
@{
    ViewData["Title"] = "Index";
}

<h1>Parents</h1>


<table class="table table-stripped">
    <thead>
        <tr>
            <th>Parent Name</th>
            <th>Parent Surname</th>
            <th>Parent ID/Passport</th>
            <th>Child Name</th>
            <th>Child Surname</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ParentFirstName</td>
                <td>@item.ParentSecondName</td>
                <td>@item.ParentIdNumber</td>
                <td>@item.ChildFirstName</td>
                <td>@item.ChildSecondName</td>
               
   
                <td>
                    <a asp-action="PrintAgreement" asp-route-id="@item.Id">
                        View link
                    </a>
                </td>
                
            </tr>
        }
    </tbody>

</table>