@model PagedList<ParentListVM>


<h1>Agreement List</h1>

<partial name="_AgreementList" model="(ParentListVM)ViewBag.searchKeyword" />
<table class="table table-striped">
    <tr>
        <th>
            Parent Name
        </th>
        <th>
            Parent Surname
        </th>
        <th>
            Parent ID/Passport
        </th>
        <th>
            Child Name
        </th>
        <th>
            Child Surname
        </th>
        <th> </th>
    </tr>
    @foreach (var item in Model.Content)
    {

        <tr>
            <td>
                @item.ParentFirstName
            </td>
            <td>
                @item.ParentSecondName
            </td>
            <td>
                @item.ParentIdNumber
            </td>
            <td>
                @item.ChildFirstName
            </td>
            <td>
                @item.ChildSecondName
            </td>
            <td>
                <a asp-action="PrintAgreement" asp-route-id="@item.Id">
                    View link
                </a>
            </td>
        </tr>
    }
</table>
<div class="pages">
    @if (Model.IsPrev)
    {
        <a asp-action="Index" asp-route-pageIndex="@(Model.CurrentPage -1)" class="btn btn-primary">
            previus
        </a>
    }

    @for (int pageIndex = 1; pageIndex <= Model.PageCount; pageIndex++)
    {
        if (pageIndex == Model.CurrentPage)
        {
            <span class="btn btn-dark">
                @pageIndex
            </span>
        }
        else
        {
            <a asp-action="Index" asp-route-pageIndex="@pageIndex" class="btn btn-primary">
                @pageIndex
            </a>
        }

    }
    @if (Model.IsNext)
    {
        <a asp-action="Index" asp-route-pageIndex="@(Model.CurrentPage +1)" class="btn btn-primary">
            next
        </a>
    }
